.itemCart{
    display: flex;
    border-bottom: 2px solid rgb(236, 0, 0);
    width: 530px;
    height: 300px;
    margin: 20px auto;
    background-color: rgb(121, 121, 121);
    border-radius: 30px;
    padding: 15px;
}

.itemCart img{
    width: 330px;
    margin-right: 1rem;
}